/* COMPONENTES GENERALES */
*{
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace
 }

.draw-image {
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto; /* Center the image horizontally */
}
.section-tittle {
  font-size: 44px; /* You can adjust the font size as needed */
  margin-bottom: 22px;
}
.section-paragraph {
  text-align: center;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 300;
  line-height: 1.6; /* Adjust line height for better readability */
  margin-top: 20px; /* Add space above the paragraph */
  margin-bottom: 20px; /* Add space below the paragraph */
  padding: 0 20px; /* Add padding to the sides for better readability */
}
.button {
  background-color: #333;
  color: #F0F0F0; /* Set the text color */
  font-size: 18px; /* Adjust font size as needed */
  padding: 10px 20px; /* Add padding around the text */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
  margin-top: 60px;
  /* Add a box shadow for a subtle elevation effect */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
.waze-button {
  background-color: #66cfff;
  color: #F0F0F0; /* Set the text color */
  font-size: 18px; /* Adjust font size as needed */
  padding: 10px 20px; /* Add padding around the text */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
  margin-top: 20px;
  /* Add a box shadow for a subtle elevation effect */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
.button:hover {
  background-color: rgb(132, 132, 132); /* Change the background color on hover */
}


/* NAVBAR */
nav {
  background-color: #E7D7C9; /* Background color for the navbar */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  padding: 10px 0; /* Add padding to the top and bottom of the navbar */
  position: fixed; /* Fixed position so it stays at the top of the page */
  width: 100%; /* Make the navbar full width */
  z-index: 100; /* Set a high z-index to make sure it's above other content */
}
.navbar-container {
  display: flex;
  justify-content: space-between; /* Space items evenly horizontally */
  align-items: center; /* Center items vertically */
  max-width: 1200px; /* Limit the maximum width of the content */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 10px; /* Add padding to the sides of the container */
}
.logo {
  font-size: 28px; /* Font size for the logo */
  font-weight: bold; /* Make the logo text bold */
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Text color for the logo */
}
.navbar-links-container {
  display: flex;
  gap: 20px; /* Add spacing between menu items */
}
.navbar-links-container a {
  font-size: 18px; /* Font size for menu items */
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Text color for menu items */
  cursor: pointer; /* Add pointer cursor for links */
  transition: color 0.3s; /* Smooth color transition on hover */
}
.navbar-links-container a:hover {
  color: rgb(132, 132, 132) !important; /* Change text color on hover */
}
.navbar-menu-container {
  font-size: 24px; /* Font size for the hamburger menu icon */
  cursor: pointer; /* Add pointer cursor for the icon */
  color: #333; /* Icon color */
  display: none; /* Hide the hamburger menu on larger screens */
}

/* HOME */
.home-banner-container {
  height: 980px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
  pointer-events: none;
}
.home-images-container {
  max-width: 800px; /* Adjust according to your design */

  /* Center the container horizontally */
  margin-left: auto;
  margin-right: auto;

  /* Use Flexbox to align items */
  display: flex;
  justify-content: center;
}

/* Style for individual images (adjust dimensions and other styles as needed) */
.home-images-container img {
  max-width: 100%; /* Make sure images don't exceed the container width */
  height: auto; /* Maintain aspect ratio */
  margin: 50px 40px; /* Adjust margin as needed for spacing between images */
}
.home-text-section {
  margin-top: 12px;
}
.primary-heading {
  font-size: 48px;
  font-weight: 400;
  color: #333;
}
.primary-text {
  font-size: 38px;
  font-weight: 300;
  z-index: 10;
  color: #333;
}
.countdown-text {
  font-size: 18px;
  font-weight: 300;
  z-index: 10;
  color: #333;
}

/* NOSOTROS */
.nosotros-banner-container {
  height: 980px;
  padding: 60px 120px;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
}
/* INFORMACIÓN */
.informacion-banner-container {
  height: 980px;
  padding: 60px 120px;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
}
.row {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.block {
  flex: 1;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #E7D7C9;
}
.section-subtittle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section-paragraph {
  font-size: 18px;
  margin-bottom: 10px;
}
.waze-block {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #E7D7C9;
}

/* ASISTENCIA */
.asistencia-banner-container {
  height: auto;
  padding: 60px 120px;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
}
.asistencia-tittle {
  font-size: 34px;
  margin-bottom: 22px;
}
.asistencia-paragraph {
  font-size: 18px;
  margin-bottom: 10px;
}

/* REGALOS */
.regalos-banner-container {
  height: 380px;
  padding: 60px 120px;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
}
.regalos-paragraph {
  width: auto;
  margin: 0 auto;
}

/* SPOTIFY */
.spotify-banner-container {
  height: 680px;
  padding: 60px 120px;
  padding: 80px;
  text-align: center;
  content: '';
  position: relative;
  background: url('./assets/fondo.png') repeat;
  opacity: 1;
}
.spotify-tittle {
  font-size: 24px;
  margin-bottom: 22px;
}
.spotify-row {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.spotify-block {
  flex: 1;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #E7D7C9;
  text-align: center;
}

.spotify-block-two {
  flex: 1;
  margin: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #E7D7C9;
  text-align: center;
}

/* CSS for the Footer */
.footer-section {
  background-color: #E7D7C9;
  color: #333;
  padding: 20px;
  text-align: center;
}
.footer-text {
  font-size: 18px;
  margin: 5px 0;
}
.contact-icons {
  margin-top: 15px;
}
.icon-link {
  color: #333;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.icon-link:hover {
  color: #007bff;
}


@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }

  .home-banner-container {
    height: auto;
    padding: 60px;
  }
  .primary-heading {
    font-size: 36px;
  }
  .primary-text {
    font-size: 24px;
  }
  .countdown-text {
    font-size: 16px;
  }

  .nosotros-banner-container {
    height: auto;
    padding: 60px;
  }

  .informacion-banner-container {
    height: auto;
    padding: 60px;
  }
  .row {
    flex-direction: column;
  }
  .block {
    margin: 10px;
    padding: 10px;
  }
  .section-subtittle {
    font-size: 20px;
  }
  .section-paragraph {
    font-size: 16px;
  }

  .asistencia-banner-container {
    height: auto;
    padding: 60px;
  }
  .asistencia-tittle {
    font-size: 28px;
  }
  .asistencia-paragraph {
    font-size: 16px;
  }

  .regalos-banner-container {
    height: auto;
    padding: 60px;
  }

  .regalos-paragraph {
    font-size: 16px;
  }

  .spotify-banner-container {
    height: auto;
    padding: 60px;
  }

  .spotify-tittle {
    font-size: 20px;
  }

  .spotify-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .spotify-block {
    width: 100%;
    margin-bottom: 0px; /* Add some space between the blocks */
  }

  .iframe-container {
    padding-top: 26.25%; /* 16:9 aspect ratio (adjust as needed) */
  }

  .iframe-container iframe {
    position: static;
  }
}

/* Add this CSS for responsive iframe */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 76.25%; /* 16:9 aspect ratio (change as needed) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}